################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECommerce.API/.vs/ECommerce.API/FileContentIndex
/ECommerce.API/.vs/ECommerce/FileContentIndex/c2e71e98-83c2-4ebb-81de-4a5031d67d3d.vsidx
/ECommerce.API/.vs/ECommerce/FileContentIndex/7b6590bf-06bb-4207-ac16-d22cb935833b.vsidx
/ECommerce.API/.vs/ECommerce/FileContentIndex/5b6f5f00-d2fa-42e6-abde-71cde4a33457.vsidx
/ECommerce.API/.vs/ECommerce/FileContentIndex/377e0a17-3959-4f6e-9bf1-5d6ca031d089.vsidx
*.vsidx
