################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECommerce.API/.vs/ECommerce.API/FileContentIndex
