.dashboard-wrapper {
  position: fixed;
  top: 0rem;
  display: flex;
  margin-top: 65px;
  flex-direction: row;
  height: 80%;
  background-color: #FFC736;
  width: 100%;
  justify-content: space-around;
  pointer-events: none;
}

.dashboard-photo-wrapper {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  width: 30%;
}

.dashboard-photo {
  position: absolute;
  bottom: 0rem;
  width: 150%;
}

.dashboard-header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 40rem;
  height: 100%;
  margin-left: 5rem;
}

.dashboard-header span {
  font-size: 5rem;
  margin-top: 5rem;
}

.dashboard-header p {
  margin-top: 5rem;
  margin-right: 15rem;
}
