.menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
}

.cart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}


.menu-left {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.menu-left .item-wrapper,
.menu-right .item-wrapper {
  margin-right: 20px;
  cursor: pointer;
  padding: 0 20px;
}

.menu-header {
  display: flex;
  align-items: center;
}

.menu-header .login-photo {
  width: 150px;
  height: auto;
}

.menu-right {
  display: flex;
  align-items: center;
}

.menu-right .item-wrapper:last-child {
  margin-right: 0;
}

.menu-right .item-wrapper:hover,
.menu-right .item-wrapper:focus {
  opacity: 0.8;
}
