.shop-detail-box-main {
  padding: 60px 0;
}

.single-product-slider {
  margin-bottom: 30px;
}

.single-product-details h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.single-product-details h5 {
  font-size: 18px;
  margin-bottom: 15px;
}

.single-product-details p.available-stock {
  margin-bottom: 15px;
}

.single-product-details h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.single-product-details p {
  margin-bottom: 15px;
}

.single-product-details ul {
  margin-bottom: 15px;
}

.single-product-details .form-group {
  margin-bottom: 15px;
}

.single-product-details .price-box-bar {
  margin-bottom: 20px;
}

.single-product-details .add-to-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-product-details .add-to-btn .add-comp a {
  margin-right: 10px;
}

.single-product-details .add-to-btn .share-bar a {
  margin-right: 5px;
}

@media (max-width: 767px) {
  .single-product-details .add-to-btn {
    flex-direction: column;
    align-items: flex-start;
  }

  .single-product-details .add-to-btn .add-comp a {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.img-product{
  width: 300px;
  height: 300px;
}